@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override for iOS Full Height Viewport */
@supports (-webkit-touch-callout: none) {
  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}

.source.toml .table {
  display: unset;
}

.source.rust .block {
  display: unset;
}

.source.sql .block {
  display: unset;
}
