name: Rust Tests

env:
  DATABASE_URL: "sqlite:/home/runner/work/coreyja.com/coreyja.com/server/db.sqlite3"
  SQLX_OFFLINE: true
  APP_BASE_URL: https://ci.coreyja.com

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v2
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: protobuf-compiler
          version: v0
      - name: Setup | Rust
        uses: ATiltedTree/setup-rust@v1
        with:
          rust-version: stable
          components: clippy
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "v0-rust"
      - run: |
          curl -sLO https://github.com/tailwindlabs/tailwindcss/releases/latest/download/tailwindcss-linux-x64 && \
          chmod +x tailwindcss-linux-x64 && \
          mv tailwindcss-linux-x64 tailwindcss && \
          ./tailwindcss -i server/src/styles/tailwind.css -o target/tailwind.css
      - name: Build | Lint
        run: cargo clippy --all-targets --no-deps
  doc:
    name: Doc
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v2
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: protobuf-compiler
          version: v0
      - name: Setup | Rust
        uses: ATiltedTree/setup-rust@v1
        with:
          rust-version: stable
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "v0-rust"
      - run: |
          curl -sLO https://github.com/tailwindlabs/tailwindcss/releases/latest/download/tailwindcss-linux-x64 && \
          chmod +x tailwindcss-linux-x64 && \
          mv tailwindcss-linux-x64 tailwindcss && \
          ./tailwindcss -i server/src/styles/tailwind.css -o target/tailwind.css
      - name: Cargo Doc
        run: cargo doc --workspace --no-deps
  db:
    name: Check Schema
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v2
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: protobuf-compiler
          version: v0
      - name: Setup | Rust
        uses: ATiltedTree/setup-rust@v1
        with:
          rust-version: stable
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "v0-rust"
      - name: Install sqlx-cli
        uses: baptiste0928/cargo-install@v1
        with:
          crate: sqlx-cli
          version: 0.6.2
      - run: |
          curl -sLO https://github.com/tailwindlabs/tailwindcss/releases/latest/download/tailwindcss-linux-x64 && \
          chmod +x tailwindcss-linux-x64 && \
          mv tailwindcss-linux-x64 tailwindcss && \
          ./tailwindcss -i server/src/styles/tailwind.css -o target/tailwind.css
      - run: |
          cd server
          cargo sqlx database setup
          cargo sqlx prepare --check
  test:
    name: Test
    strategy:
      matrix:
        os:
          - ubuntu-latest
        rust:
          - stable
          - nightly
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v2
      - name: Setup | Rust
        uses: ATiltedTree/setup-rust@v1
        with:
          rust-version: ${{ matrix.rust }}
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: protobuf-compiler
          version: v0
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "v0-rust"
      - run: |
          curl -sLO https://github.com/tailwindlabs/tailwindcss/releases/latest/download/tailwindcss-linux-x64 && \
          chmod +x tailwindcss-linux-x64 && \
          mv tailwindcss-linux-x64 tailwindcss && \
          ./tailwindcss -i server/src/styles/tailwind.css -o target/tailwind.css
      - name: Test
        run: cargo test --all-targets
  cargo-deny:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Install cargo-binstall
      run: curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
    - name: Install cargo-deny
      run: cargo binstall --no-confirm cargo-deny
    - name: Cargo Deny
      run: cargo-deny check bans -d
